* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: rgb(139, 229, 160);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  color: black;
  margin-top: 0;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  margin: 0 auto;
}
code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}
.square:hover {
  background-color: #95bce0;
}
.board-row:after {
  clear: both;
  content: "";
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  margin: 0 auto;
}

.status {
  margin-bottom: 10px;
  color: rgb(40, 97, 228);
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
